.HoursRequired {
    transition: .2s ease-in-out background-color;
}

.HoursRequired label {
    display: block;
    padding: .5em;
}

.HoursRequired--irregular {
    background-color: #fe5;
}

.HoursRequired__hours {
    display: inline-block;
    margin-right: 5px;
    width: 40px;
    padding: 0;
    border: 0;
    line-height: inherit;
    border-bottom: 1px solid;
    background-color: transparent;
    text-align: right;
    font-size: inherit;
    font-weight: bold;
    color: #000;
}
