.HoursRemaining {
    padding: .5em;
    transition: .2s ease-in-out background-color;
}

.HoursRemaining--overtime {
    background-color: red;
    color: white;
}

.HoursRemaining__hours {
    margin-right: 5px;
    width: 40px;
    display: inline-block;
    text-align: right;
    font-family: Fira Code, monospace;
}
