.root {}

.metrics {
  width: 300px;
  margin: 0 auto;
}

.metrics :nth-child(2) {
  margin-top: .5em;
}

.reset {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: white;
  padding: .7em 2em;
  color: #caf;
  border: 1px solid;
  border-radius: 3px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  transition: .1s ease all;
}

.reset:hover {
  background-color: hsla(270, 75%, 75%, .2);
}

.reset:active {
  transform: translate(0, 2px);
  border-color: #caf;
  background-color: #caf;
  color: white;
}
