.root {}

.metrics {
  width: 300px;
  margin: 0 auto;
}

.metrics :nth-child(2) {
  margin-top: .5em;
}

.controls {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.control {
  border: none;
  padding: 1em;
  line-height: 1em;
  border-radius: 3px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  transition: .1s ease;
  transition-property: background-color, color;
  color: white;
}

.control + .control {
  margin-left: 1em;
}

.isDisabled {
  opacity: .2 !important;
  cursor: not-allowed !important;
}

.control:not(.isDisabled):hover {
  opacity: 1;
}

.control:not(.isDisabled):active {
  transform: translateY(2px);
}

.growButton,
.shrinkButton,
.resetButton {
  composes: control;
}

.growButton {
  background-color: #0c0;
}

.shrinkButton {
  background-color: #c00;
}

.resetButton {
  color: #aaa;
  background-color: #f8f8f8;
}

.resetButton:hover {
  background-color: #f0f0f0;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
}
