.root {
  padding: .5em;
  transition: .2s ease-in-out background-color;
}

.overtime {
  background-color: red;
  color: white;
}

.hours {
  width: 40px;
  display: inline-block;
  font-weight: bold;
}
