@viewport { width: device-width; }

/* =========================================================================
   Base
   ========================================================================= */

a,
button {
    cursor: pointer;
    outline: none;
}

/* Colors
   ========================================================================= */

html {
    background-color: white;
    color: #555;
}

a {
    color: lime;
}

h1,
h2,
h3 {
    color: #caf;
}

/* Typography
   ========================================================================= */

html {
    font-family: -apple-system, Helvetica Neue, sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
.heading {
    font-family: -apple-system, Helvetica Neue, sans-serif;
    font-weight: 200;
}

/* =========================================================================
   Layout
   ========================================================================= */

body {
    margin: 20px;
    cursor: default;
}
