@viewport { width: device-width; }


/* =========================================================================
   Base
   ========================================================================= */

* {
  box-sizing: content-box;
}

a,
button {
    cursor: pointer;
    outline: none;
}


/* Colors
   ========================================================================= */

html {
    background-color: white;
    color: #555;
}

a {
    color: lime;
}

h1,
h2,
h3 {
    color: #caf;
}


/* Typography
   ========================================================================= */

html {
    font-family: Ubuntu, Open Sans, system-ui, sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
.heading {
    font-family: Ubuntu, Open Sans, system-ui, sans-serif;
    font-weight: 200;
}


/* =========================================================================
   Layout
   ========================================================================= */

body {
    margin: 20px;
    cursor: default;
}


/* =========================================================================
   Forms
   ========================================================================= */

input {
    font-family: Fira Code, monospace;
    font-size: inherit;
    outline: none;
}

/* Hide number spinner buttons */
input[type='number'] {
    -moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    margin: 0;
}
